version: "3.9"

services:
  puyogame:
    image: docker-puyogame
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: puyogame_container
    working_dir: /app
    stdin_open: true
    tty: true
    environment:
      DISPLAY: ${DISPLAY:-}
      FORCE_HEADLESS: ${FORCE_HEADLESS:-0}
      FORCE_REBUILD: ${FORCE_REBUILD:-0}
      XVFB_RESOLUTION: ${XVFB_RESOLUTION:-1920x1080x24}
      SDL_HINT_RENDER_DRIVER: software
      LIBGL_ALWAYS_SOFTWARE: "1"
    volumes:
      - ..:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
